// Start of global styles
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    @media all and (min-width: 376px) {
        padding: 0 20px;
    }
}

section {
    width: 100%;
    max-width: 1500px;
    margin: 2rem auto;
    @media all and (min-width: 1440px) {
        max-width: 80%;
    }
}